{% extends "@EasyAdmin/layout.html.twig" %}


{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Welcome to website dashboard admin</p>
		<hr class="my-2">

	</div>


{% endblock %}
